{% load static %}

<html>
    <head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="https://fonts.googleapis.com/css?family=Gaegu:300,400,700|Tomorrow:400,700&display=swap&subset=korean" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <title>혜정이의 블로그</title>
    </head>

    <body>
        <div class="page-header">
            <h1><a href="/">MY FIRST BLOG! HELLO :D </a></h1>

            <!-- 보안기능추가 -->
            {% if user.is_authenticated %}
            <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
            {% endif %}
        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    <!-- block 생성 ! 템플릿 확장 -->
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>

